
body{
    background-color: #505050;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: azure;
}
.show{
    display: block;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fixed{
    position: fixed;
}
ul>li{
    list-style-type: none;
}
button{
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}
ul{
    padding: 0;
    margin: 0;
}
header{
    margin-left: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 15vh;
    background-color: inherit;
}


/* head1 */
.head1{
    overflow: hidden;
    background-color: #04070e;
    border-radius: 10px;
    height: calc(100% - 10px);
    width: 20%;
}
.logo{
    width: 100%;
    height: 100%;
}
.logo>a>img{
    width: 100%;
    height: 100%;
}
.logo>a{
    height: auto;
}
.menubutton{
    height: 40px;
    width: 40px;
}
.menubutton>img{
    width: 50% !important;
}
.menubutton:hover{
    background-color: cadetblue;
}






/* head2 */
.head2{
    border-radius: 10px;
    overflow: hidden;
    background-color: #282828;
    height: calc(100% - 10px);
    width: 78%;
    padding-left: 20px;
    margin-left: 10px;
}


/* head21 */
.head21{
    padding-left: 60px;
    height: 50%;
}
.searchs{
    width: 50%;
    height: 30px;
}
.mic{
    padding-left: 3%;
}
.mic>.icon>img{
    padding-top: 5%;
}
.search{
    height: 100%;
    width: 80%;
    border-radius: 25px;
    background-color: rgb(161, 158, 158);
}
.search>input{
    margin-left: 5%;
    width: 70%;
    padding:0;
    outline: none;
    border:0;
    background-color:rgb(161, 158, 158) ;
}
.search>button{
    height: 100%;
    width: 10%;
    background-color: rgb(82, 78, 78);
    border-radius: 0px 25px 25px 0px;
}
 
.icons{
    padding-right: 10px;
    width: 170px;
}
.icon{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    
}
.icon:hover{
    background-color: rgb(82, 78, 78) ;
    border: 1px rgb(187, 184, 184) solid;
}
.icon>img{
    margin-top: 3px;
    width: 65%;
}
/* head22 */
.head22{
    margin-top: 10px;
    height: 35%;
    margin-right: 15px;
}
.head22>ul{
    height: 100%;
}
.head22>ul>button{display: flex;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: #838586;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.head22>ul>button{
    font-size: 1.2vw;
    text-decoration: none;
    color: wheat;
}
.head22>ul>button:hover{
    background-color: aqua;
    color: black;
    
}




/* main */
main{
    margin-left: 5px;
    z-index: -1;
    display: flex;
    position: relative;
    top: calc(15vh + 5px);
}
.left{
    height: calc(85vh - 5px);
    width: 20%;
}
.right{
    margin-left: 10px;
    position: absolute;
    width: calc(80% - 10px);
    right: 0;
}
.nameplaylist{
    padding: 0 0 5px 15px;
}

/* menu */
.menu{
    background-color: #282828;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    overflow-y: auto;
    width: 100%;
    height: 100%;

}
.menu::-webkit-scrollbar{
    background-color:transparent;   
    width: 10px;
}
.menu::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
}
.menu>ul div{
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    height: 50px;
    width: 90%;
    margin: 20px 5%;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
}
/* .menu>ul{
    height: auto;
} */
.menu>ul div img{
    padding-right: 3%;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 4%;
    float: right;
}
.menu>ul div:hover{
    background-color: #413f3f;
}


/* prodduct */



/* tìm kiếm */
.wrap_no_search{
    display: none;
}
.no-search{
    width: 100%;
    height: 150px;
    background-color: #282828;
}
.no-search>div{
margin: auto;    
}
.delete{
    z-index: 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 5px;
    right: 5px;
    position: absolute;
}
.delete img{
    width: 65%;
}
.search-namesong,.search-singer{
    position: relative;
    display: none; 
}

.hotmusic{
    margin-bottom: 20px;
}


/* thêm vào play list */


.menu-song img{
    vertical-align: middle;
    width: 65%;
}

.addpls>div{
    
    color: white;
    border-radius: 5px;
    padding: 5px;
    background-color:#423f3f ;
    
}
.addpls img{
    margin-right: 5px;
    height: 25px;

}
.menu-song:hover{
    background-color:#423f3f ;
}









.note{
    
    margin-top: 10px;
    width: auto;
    color: wheat;
    font-size: 1vw;
    background-color: rgb(94, 92, 92);
    border-radius: 10%;
    left: 50%;
}

button:hover .test{
    animation: .6s faceIn;
    animation-fill-mode: forwards;

}
.note::after{
    position: absolute;
    content: " ";
    border-color: transparent transparent rgb(94, 92, 92) transparent ;
    border-width: 5px;
    border-style: solid;
    bottom: 65%;
    left: 25%;
}
.test{
    visibility: hidden;
    position: absolute;
    left: auto;
   
}
@keyframes faceIn {
    99%{
        visibility: hidden;
    }
    100%{
        visibility:visible ;
    }
}

audio{
    display: block !important;
    width: 25vw;
    height: 5vh;
}
.foot{
    background: linear-gradient(lightblue, blue);
    color:white;    
    padding: 10px;
  
}




.playing{
    display: none;
    z-index: 10;
    background-color: rgb(47, 49, 49);
    border-radius: 10px 0px 0px 0px;
    height: 80px;
    width: calc(80% - 15px);
    margin-left: 10px;
    position: fixed;
    bottom: 0px;
    right: 0;
}

.play-left{
    display: none;
    position: absolute;
    overflow: hidden;
    bottom: 0px;
    background-color: rgb(47, 49, 49);
    height: 40%;
    width: 100%;
}
.play-left .addpls{
    left: auto;
    right: 30px;
    bottom: 60px;
}
.play-left .infosong{
    width: 100%;
    height: 100% !important;
    margin: 0 !important;
    padding: 0;
}
.imgsong>img{
    width: 100%;
}
.imgsong{
    overflow: hidden;
    height:70%;
    width: 100%;
}
.cd_infosong{
    width: 100%;
    height: 30%;
}
.cdlogo{
    height: 90%;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
.cdlogo>img{
    vertical-align: middle;
    height: 70px ;
    width: 70px;
    border-radius: 50%;
    /* animation: logospin infinite 5s linear; */
}
/* .cdlogo::before {
    z-index: 99;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: inherit;
    border-radius: 50%;
} */

/* @keyframes logospin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} */

.play-mid{
    height: 100%;
    width: 50%;
}
.likebt{
    margin-left: 20px;
    width: 25%;
}
.like{
    width:30px;
}

.listening{
    height: 100%;
    width: 70%;
}
.timelisten{
    width: 100%;
    height: 50%;
}
.listens{
    cursor: pointer;
    width: 80%;
    height: auto;
    padding: 5px 0;
}
.listen{
    cursor: pointer;
    border-radius: 2px;
    width: 100%;
    background-color: black;
}

.listened{
    position: relative;
    width: 0%;
    height: 5px;
    border-radius: 2px 0 0 2px;
    background-color: aliceblue;
}
.listenbts{
    margin-top: 5px;
    height: 50%;
    position: relative;
    width: 100%;
}
.listenbts>button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.listenbt{
    vertical-align: middle;
    width: 25px;
}
.listenbts>button:hover{
    background-color: #838586;
    border: 1px solid wheat;
}
.play-pause{
    position: relative;
    width: auto;
    height: auto;
}
.play-pause>img{
    position: absolute;
}
.pre{
    transform: rotate(180deg);
}

.play-right{
    justify-content: left;
    height: 100%;
    width: 25%;
}
.volumebt{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.volumebt:hover{
    background-color: #838586;
    border: 1px solid wheat; 
}
.volumebt>img{
    vertical-align: middle;
    width: 65%;
}
.volmaxs{
    cursor: pointer;
    height: auto;
    width: 40%;
    padding: 5px 0;
}
.volmax{
    height: auto;
    border-radius: 2px;
    width: 100%;
    margin: 4px;
    background-color: black;
}
.vol{
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: aliceblue;
}
.vol>div, .listened>div{
    display: none;
    z-index: 99;
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    background-color: aliceblue;
    border-radius: 50%; 
}
/* .volmaxs:hover,.listens:hover{
    transform: scaleY(1.2);
} */
footer{
    border-radius: 10px;
    margin-bottom: 0;
    height: 200px;
    background-color: #423f3f;
}
.footer1{
    padding: 20px;
    display: flex;
    height: 65%;

}
.company{
    padding: 5px;
    margin-left: 20px;
}
.company h2{
    color: #1a1717 ;
    margin-bottom: 5px;
}
.company a{
    color: #807878;
}
.doitac{
    margin-left: 100px;
}
.doitac h2{
    text-align: center;
    color: #1a1717 ;
}
.footer2{
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #423f3f;
    bottom: 0;
    height: 35%;
}
.footer2 a{
    font-size: 1rem;
    background-color: rgb(79, 78, 78);
    padding: 4px;
    border-radius: 20px;
    margin-right: 30px;
}
.footer2 div p{
    color: #1b1a1a;
    font-size: 1rem;
    margin-left: 5px;
}
.imgfooter{
    margin-left: 250px;
    width: auto;
    height: 100%;
}
.imgfooter img{
    width: 100px;
    height: 90%;
}
















