.library{
    background-color: #413f3f;
}
.playlists{
    top: calc(15vh + 5px);
    bottom: 0;
    overflow-y: auto;
    width: 25vw;
}
.playlists::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
}
.playlists::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
}
.choice-playlist h1{
    background-color:#605c5c;
    font-size: 30px;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 10px;
}
.on{
    background-color: #2c2a2a !important;
}
.addplaylistbt{
    background-color: #2c2a2a;
    border-radius: 10px;
    margin-bottom: 10px;
}
.addplaylistbt img{
    padding: 5px;
    width: 10%;
}
#namepl{
    color: white;
    outline: none;
    width: 90%;
    height: 30px;
    background-color: transparent;
    border: 0;
}
div.my-playlist{
    display: none;
}
.playlist{
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #413f3f;
    width:100%;
    height: 350px;
}
.img-playlist{
    overflow: hidden;
    width: 100%;
    height: 70%;
}
.img-playlist img{
    width: calc(100% - 20px);
    padding: 10px 10px 0 10px;
}
.info-playlist{
    padding: 10px 10px 0px 20px;
    height: calc(10% - 10px);
    width: calc(100% - 30px);
}
.playlist-bt{
    height: 20%;
    width: 100%;
}
.playlist-bt button{
    display: flex;
    align-items: center;
    width: 120px;
    background-color: #605c5c;
    border-radius: 20px;
    padding: 5px;

}
.playlist-bt img{
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
}
.music{
    position: absolute;
    right: 0;
    width:calc(55vw - 30px);
}
.playlistsong{
    display: none;
}
.songs{
    width: 100% ;
}
.songs .song{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color:  #6c6767;
    width: 100% ;
    height: 100px;
}
.songs .song .img-song{
    margin: 10px;
    height: calc(100% - 20px);
}
.songs .song .img-song img{
    height: 100%;
}
.songs .infosong h4,.songs .infosong p{
    padding: 5px 0 5px 0;
}
.menu-song{
    position: absolute;
    top: calc(50% - 15px);
    right: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.addpls{
    cursor: pointer;
    display: none;
    position: absolute;
    right:30px;
    bottom: 60px;
}
.addplaylist{
    display: none;
    z-index: 999;
    border-radius: 20px;
    background-color: #423f3f;
    position: fixed;
    width: 300px;
    height: 400px;
    left: calc(50% - 150px);
    top: calc(50% - 200px);
}
.addplaylist>h2{
    margin: 10px 0 10px 10px;
}
.playlist-name h2{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 20px 10px;
    border-bottom:.5px solid wheat;
    box-shadow: 0px 10px 10px 0 #363434;
} 
.playlist-name h2:hover{
    background:linear-gradient(#423f3f,#565353);
}
